<div class="page-container">

  <div class="flex-container">
    <div class="item" id="title-container">
      <div class="title">Welcome to Occupational Analysis Website</div>
      <p class="subtitle">Track your business performance with detailed insights</p>
    </div>
    <div class="item" id="navigation-container">
      <div class="nav-0" id="nav-component" routerLink="/">Menu</div>
      <div class="space" id="nav-component">|</div>

      <div class="nav-1" id="nav-component" routerLink="/multiple">Multiple Company</div>
      <div class="space" id="nav-component">|</div>

      <div class="nav-2" id="nav-component" routerLink="/single">Single Company</div>
      <div class="space" id="nav-component">|</div>

      <div class="nav-3" id="nav-component" routerLink="/trends">Industry Trends Recently</div>
      <div class="space" id="nav-component">|</div>

      <div class="nav-4" id="nav-component" routerLink="/graduates">Number of Graduates Recently</div>
      <div class="space-45" id="nav-component"></div>

      <button class="nav-5" id="nav-component"> ... </button>
      <button class="nav-6" id="nav-component"> Share </button>
      <div class="nav-7" id="nav-component"></div>
      <div class="nav-8" id="nav-component">﹀</div>


    </div>

  </div>
  <img class="img-1" src="../assets/img1.png" width="100%" height="auto">
  <img class="img-2" src="../assets/img2.png" width="100%" height="auto">
  <img class="img-3" src="../assets/img3.png" width="100%" height="auto">
  <img class="img-4" src="../assets/img4.png" width="100%" height="auto">
  <img class="img-5" src="../assets/img5.png" width="100%" height="auto">

  </div>
